<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date - [%thread] - %-5level %logger - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="cbps" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D://logs/way4Cause.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
 			<fileNamePattern>${catalina.base}/logs/archive/way4Cause.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date - [%thread] - %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<Logger name="com.mrptech" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="cbps" />
		<appender-ref ref="GELF" />
	</Logger>

	<root level="info" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="cbps" />
		<appender-ref ref="GELF" />
	</root>

</configuration>